<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>start</servlet-name>
    <jsp-file>/start.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>start</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  

  <!-- static files -->
  <static-files>
        <include path="/css/**.css" />
        <exclude path="/css/**.css" />
  </static-files>
  
  <static-files>
        <include path="/images/**" />
        <exclude path="/images/**" />
  </static-files>

</web-app>
