<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>edu.umbc.ultra.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/ultrasoundrepo2_0/greet</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>mainpage.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- static files -->
  <static-files>
        <include path="/css/**.css" />
        <exclude path="/css/**.css" />
  </static-files>
  
  <static-files>
        <include path="/images/**" />
        <exclude path="/images/**" />
  </static-files>

</web-app>
